<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servletstudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class> com.hongyewell.servlet.HelloServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/aa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo2</display-name>
    <servlet-name>ServletDemo2</servlet-name>
    <servlet-class>com.hongyewell.servlet.ServletDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo2</servlet-name>
    <url-pattern>/ServletDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo3</display-name>
    <servlet-name>ServletDemo3</servlet-name>
    <servlet-class>com.hongyewell.servlet.ServletDemo3</servlet-class>
    <init-param>
      <param-name>data1</param-name>
      <param-value>heheda111</param-value>
    </init-param>
    <init-param>
      <param-name>data2</param-name>
      <param-value>heheda222</param-value>
    </init-param>
    <init-param>
      <param-name>data3</param-name>
      <param-value>heheda333</param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/test</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo3</servlet-name>
    <url-pattern>/ServletDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextDemo</display-name>
    <servlet-name>ServletContextDemo</servlet-name>
    <servlet-class>com.hongyewell.servlet.ServletContextDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo</servlet-name>
    <url-pattern>/ServletContextDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextDemo2</display-name>
    <servlet-name>ServletContextDemo2</servlet-name>
    <servlet-class>com.hongyewell.servlet.ServletContextDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo2</servlet-name>
    <url-pattern>/ServletContextDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProperties</display-name>
    <servlet-name>ServletProperties</servlet-name>
    <servlet-class>com.hongyewell.servlet.ServletProperties</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProperties</servlet-name>
    <url-pattern>/ServletProperties</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletResponse</display-name>
    <servlet-name>ServletResponse</servlet-name>
    <servlet-class>com.hongyewell.servlet.ServletResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletResponse</servlet-name>
    <url-pattern>/ServletResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDownLoad</display-name>
    <servlet-name>ServletDownLoad</servlet-name>
    <servlet-class>com.hongyewell.servlet.ServletDownLoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDownLoad</servlet-name>
    <url-pattern>/ServletDownLoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRequestDemo</display-name>
    <servlet-name>ServletRequestDemo</servlet-name>
    <servlet-class>com.hongyewell.servlet.ServletRequestDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRequestDemo</servlet-name>
    <url-pattern>/ServletRequestDemo</url-pattern>
  </servlet-mapping>
</web-app>